<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link type="text/css" href="{{ url_for('static',filename='css/styles.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/jquery-3.7.1.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/actions.js') }}"></script>
  <title>QA-bot</title>
</head>

<body>
  <h1 class="text-center">QA-bot</h1>
  <div class="container">
    <div class="container border justify-content-center">
      <div class="flex-grow-1 overflow-auto" style="height: 75vh;  overflow-y: auto">
        <div class="row pt-3">
          <div class="col-md-12">
            <div id="messages"></div>
          </div>
        </div>
        <div class="chat-messages p-4">
          <div id="content">
          </div>
        </div>

      </div>
    </div>

    <div class="input-group">
      <input type="text" id="prompt" class="form-control" name="prompt-input" placeholder="Enter your question" />
      <button type="submit" class="btn btn-success" id="sendBnt">Send</button>

    </div>
    <div class="row pt-3">
      <div class="col-md-12">
        <div id="response"></div>
      </div>
    </div>
  </div>

</body>

</html>